<p id="notice"><%= notice %></p>
<section class="w-full mt-5">
	<div class=" grid grid-cols-1 md:grid-cols-4 ">
		<div class="col-span-3">
			<div class= "flex pb-5"> 
		<div class="rounded-1/2 h-8 w-7 bg-gray-900 text-white px-1 "> <%= link_to '<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>'.html_safe, lesson_path(current_lesson), style: "color: #fff;" %> </div>
		<h1 class="text-xl w-full text-center border-2 border-gray-300 ">Quiz : <%= t('quiz.index.results') %></h1>
		<div class="rounded-1/2 h-8 w-7 bg-gray-900 text-white px-1 hidden"> <%= link_to '<i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>'.html_safe, quiz_path(next_quiz), style: "color: #fff;" %> </div>
	</div>

		<% if @quizzes.empty? %>
			<p class = "block w-full text-center text-lg"> No Quiz created yet. </p>
		<% else %>
			<% @quizzes.each do |quiz| %>
				<hr >
				<div class = "" >
					<div class= "w-full"><%= quiz.question %>  </div>
					<div class="w-full grid grid-cols-4">
						<% if  get_verdict(quiz.id)== "failed" %> 
							<span class = "text-red-400 font-semibold" > <%= t('quiz.index.failed') %> </span>
						<% else %>
							<span class="text-green-400 font-semibold"><%= t('quiz.index.passed') %></span>
						<% end %>
					</div>
				</div>
				
			<% end %>
		<% end %>

	<br>
		</div>
		<div class="  text-center border-l-2 border-gray-200">
			<%= render "resultpane" %>	
		</div>
	</div>
</section>
