

<p id="notice"><%= notice %></p>
<section class=" mt-5 w-4/5">

<div class= "flex"> 
		<div class="rounded-1/2 h-8 w-7 bg-gray-900 text-white px-1 "> <%= link_to '<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>'.html_safe, lesson_path(current_lesson), style: "color: #fff;" %> </div>
		<h1 class="text-xl w-full text-center border-2 border-gray-300 ">Quiz : <%= quiz_number(current_lesson.id).to_s + "/" + current_lesson.quizzes.count.to_s  %></h1>
		<div class="rounded-1/2 h-8 w-7 bg-gray-900 text-white px-1 hidden"> <%= link_to '<i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>'.html_safe, quiz_path(next_quiz), style: "color: #fff;" %> </div>
	</div>
	<div class= "grid grid-cols-3  md:px-2 border bordder-2 border-gray-200 mt-3">
		    <% if current_user && current_user.admin %> 
			<%= link_to  t('quiz.show.new_quiz'), new_quiz_path,  class: "font-semibold block text-center py-1 hover:bg-green-50" , style: "color: #00d1b1 ; border: 1px solid #00d1b1" %> 
			<%= link_to t('general_buttons.edit'), edit_quiz_path(@quiz) , class: "block text-center font-semibold border border-2 border-gray-700 hover:bg-gray-100 hover:text-gray-900 "%> 
			<%= link_to t('quiz.show.delete_quiz') , quiz_path(@quiz), method: :delete, class: "block text-center font-semibold" , style: "color: #ff3860;" %>
			<% end %>
		</div>

			<% if @quiz ==  nil %>
			<p class=""> <%= t('quiz.show.no_quiz') %> </p>
			<% else %>
				<div class= "w-full mx-4 mt-10 mb-2"><%= @quiz.question %>  </div>
				<hr>
				<%= form_for :something do |f|%>
				<div class="mx-4 mt-2 flex flex-row justify-between"> 
				
					<div ><%= f.radio_button :my_option,  @quiz.option1 %>  <%= @quiz.option1 %> </div>
					<div ><%= f.radio_button :my_option,  @quiz.option2 %>  <%= @quiz.option2 %> </div>
					<div ><%= f.radio_button :my_option,  @quiz.option3 %>  <%= @quiz.option3 %> </div>
					<div ><%= f.radio_button :my_option,  @quiz.option4 %>  <%= @quiz.option4 %> </div>
				</div>
				<% end %>
			<% end %>
	<br>
	<div class=" text-right flex justify-between mx-4"> 
		<div class="flex">
			<p id="btn" class="block hidden font-semibold cursor-pointer rounded-md px-8 py-1 text-blue-600 hover:bg-blue-200"> <%= t('quiz.show.verify') %></p>
			<p class=" wrong text-lg text-red-400 hidden"> <%= t('quiz.show.false') %> </p>
        <p class="correct text-lg text-green-400 hidden"> <%= t('quiz.show.correct') %> </p>

		</div>
		<%= link_to t('lessons.show.next') , quiz_path( next_quiz), class: "hidden next-button block bg-blue-400 font-semibold rounded-md px-8 py-1 ", style: "color: white;" %> </div>
		<div class="">	
		</div>

</section>


<script >
$(document).ready(function(){
        $('input').change(function(e){
           selected_value = $('form input[type=radio]:checked').val();
			$('#btn').toggleClass("hidden",false);
		console.log("<%= escape_javascript @quiz.correct_response_text %>");
		console.log(selected_value);
            $('#btn').click(function(){
				$(this).toggleClass("hidden");
				$('.next-button').toggleClass("hidden");
            	if (selected_value ==  "<%= escape_javascript @quiz.correct_response_text %>") {
            		$('.correct').toggleClass("hidden");
					$.ajax({
						type: "GET",
						url: "/passed",
						});
            		} else {
            		$('.wrong').toggleClass("hidden");
						$.ajax({
                        type: "GET",
                        url: "/failed",
                        });
            		}
            });
        });
    });

</script>
