

<p id="notice"><%= notice %></p>
<section class=" ">
	<div class= "flex justify-between  px-2 border bordder-2 border-gray-200">
		    <%= link_to 'Back', lesson_path(current_lesson) , class: "font-semibold block px-8 py-1 rounded-md hover:bg-red-200" , style: "background-color: #ff3860; color: #fff;" %>
		    <% if current_user && current_user.admin %> 
			<%= link_to  'New Quiz', new_quiz_path,  class: "font-semibold block rounded-md px-8 py-1 bg-green-400" , style: "color: #ffe ;" %> 
			<%= link_to 'Edit', edit_quiz_path(@quiz) %> 
			<%= link_to "Delete quiz" , quiz_path(@quiz), method: :delete , style: "color: #ff3399;" %>
			<% end %>
		</div>

			<% if @quiz ==  nil %>
			<p class=""> No quiz created yet </p>
			<% else %>
				<div class= "w-full mx-4 mt-10 mb-2"><%= @quiz.question %>  </div>
				<hr>
				<%= form_for :something do |f|%>
				<div class="mx-4 mt-2 flex flex-row justify-between"> 
				
					<div ><%= f.radio_button :my_option,  @quiz.option1 %>  <%= @quiz.option1 %> </div>
					<div ><%= f.radio_button :my_option,  @quiz.option2 %>  <%= @quiz.option2 %> </div>
					<div ><%= f.radio_button :my_option,  @quiz.option3 %>  <%= @quiz.option3 %> </div>
					<div ><%= f.radio_button :my_option,  @quiz.option4 %>  <%= @quiz.option4 %> </div>
				</div>
				<% end %>
			<% end %>
	<br>
	<div class=" text-right flex justify-between mx-4"> 
		<div class="flex">
			<p id="btn" class="block hidden font-semibold cursor-pointer rounded-md px-8 py-1 text-blue-600 hover:bg-blue-200"> verify answer</p>
			<p class=" wrong text-lg text-red-400 hidden"> Inocrrect response </p>
        <p class="correct text-lg text-green-400 hidden"> CORRECT RESPONSE!! </p>

		</div>
		<%= link_to "Next" , quiz_path( next_quiz), class: "hidden block bg-blue-400 font-semibold rounded-md px-8 py-1 ", style: "color: white;", id: "next-button" %> </div>
		<div class="">	
		</div>

</section>


<script >
$(document).ready(function(){
        $('input').change(function(e){
           selected_value = $('form input[type=radio]:checked').val();
			$('#btn').toggleClass("hidden",false);
		console.log("<%= escape_javascript @quiz.correct_response_text %>");
		console.log(selected_value);
            $('#btn').click(function(){
				$(this).toggleClass("hidden");
				$('#next-button').toggleClass("hidden");
            	if (selected_value ==  "<%= escape_javascript @quiz.correct_response_text %>") {
            		$('.correct').toggleClass("hidden");
					$.ajax({
						type: "GET",
						url: "/passed",
						});
            		} else {
            		$('.wrong').toggleClass("hidden");
						$.ajax({
                        type: "GET",
                        url: "/failed",
                        });
            		}
            });
        });
    });

</script>
