
<section class="  w-full mt-5 px-5 border-2 border-gray-200">
	<div class="flex justify-end"> <%= link_to "Close", dash_path, class: "block border-2 border-gray-200 px-6 py-1" %> </div>
	<div class=" flex justify-around "> 
		<div> <span class="font-semibold">Name: </span> <%= @user.name + " " + @user.surname%></div>
		<div class="flex " id="current-role">
          <span class="font-semibold block mr-4">Current role: </span> <%= @user.role.name %>
          <span class="font-semibold block ml-4 border-2 border-gray-200 px-6 hover:bg-gray-800 hover:text-white" id= "current"> change </span>
     </div>

		<%= form_for :admin_dash ,remote: true  do |f|  %>
			<div class="flex hidden" id="new-role"> <span class="font-semibold block mr-4 ">New_role: </span> <%= f.select :role_id, options_from_collection_for_select(Role.all, :id, :name), {},
					{class: " bg-white rounded-md w-full  py-1  border border-2 border-gray-400 px-6", id: "role-select" , data: {remote: true } }  %>  
			</div>
		<% end %>
	</div> 
</section>
