<%= javascript_pack_tag 'dash' %>

<section class= "min-h-screen bg-gray-50 pt-10">
<h1 class=" text-center text-4xl font-bold mb-5"> <%= t('leftpane.statistics') %></h1>	
	<div class = " md:flex ">
	<div class="w-1/12">	<%= render "layouts/darkleftpane" %></div>

<!-- next up is the main pane for the admin dashboard -->
		<div class=" w-full ">
			<div class = " " > 
				<ul class="grid grid-cols-1 md:grid-cols-4 ">
			
					<li class="bg-white text-gray-900 mx-2 px-4 py-1 shadow border-2 border-red-500 hover:bg-gray-900"> <a href="" style: "">
						<p  class= "font-semibold text-md" > <%= t('dash.number_of_users') %> : <span class=" text-xl font-bold"> <%= user_stat :total %></span> </p>
					
							<div class="grid grid-cols-2 mb-1">
								<div class=" w-full text-left border-l-4  border-blue-400"><p> Students(<%= user_stat :student_number %>) </p> </div> 
								<div class="w-full text-right  border-r-4  border-gray-700"> <p> Lecturers(<%= user_stat :lecturer_number %>) </p> </div>
							</div>
							<div class=" flex w-full">
    						<div class="bg-blue-400 text-xs leading-none h-3 text-center text-white" style="width: <%= user_stat :userspercentage %>%"><%= user_stat :userspercentage %> </div>
								<div class="bg-gray-700 text-xs leading-none h-3 text-center text-white" style="width: <%= user_stat :adminpercentage %>%"><%= user_stat :adminpercentage %> </div> 	
							</div> </a>
					</li>

					<li class=" mx-2 px-4 py-1 shadow border-2 border-blue-500 bg-white text-gray-900 hover:bg-gray-900"> <a href="" style=""> 
        		<p class= "font-semibold text-lg text-center"> <%= t('dash.number_of_subjects') %> </p>
        		<p class="text-center text-4xl font-hairline"><%= subject_stat :total %></p>
							</a>
      		</li>
					<li class=" mx-2 px-4 py-1 shadow border-2 border-yellow-400 bg-white text-gray-900 hover:bg-gray-900"> <a href="" style="">
        		<p class= "font-semibold text-md text-center text-lg"> <%= t('dash.number_of_lessons') %> </p>
        		<p class="text-center text-4xl font-bold"><%= lesson_stat :total %></p>
							</a>
      		</li>		
					<li class="bg-white mx-2 px-4 py-1 shadow border-2 border-green-500  text-gray-900 hover:bg-gray-900"> <a href="" style="">
        		<p class= "font-semibold text-md text-center text-lg"> <%= t('dash.number_of_quizzes') %> </p>
        		<p class="text-center text-4xl font-bold"><%= quiz_stat :total %></p>
						</a>
      		</li>
				</ul>
			</div>
<!-- second level of admin dashboard-->
			  <% if @user %> 
          <%= render "usermore" %>
        <% else %>
			<div class=" grid grid-cols-1 md:grid-cols-3 mx-4 mt-4  ">
					<div class=" border-2 border-gray-200 px-2 mb-3 bg-white "> 
						<p class="font-bold mb-2" > all users: </p>
						<% User.all.each do |user| %>
					<hr>
						<% if user!= nil %>
						<a href="<%= dash_path(id: user.id) %>" >
							<div class=" flex justify-between hover:text-gray-100 hover:bg-gray-800">
								<div><%= user.name %></div> <div><%= user.role.name %> </div>
							</div> </a> <% end %>
						<%end%>
					</div>
					<div class=" border-2 border-gray-200 px-2 mb-3 bg-white">
			 			<p class="font-bold mb-2" > Activities: </p>
						<p > </p>
					</div>
					<div class=" border-2 border-gray-200 px-2 mb-3 bg-white" id="unique_id">
       			<p class="font-bold mb-2" > Notifications: </p>
    			</div>
				
				</div>
			<% end %>
	</div>
</div>
</section>
<script>

</script>
