
<%= simple_form_for(@lesson) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


<div class="form-inputs mb-4 ">
    <%= f.input :name , label_html: {class: " font-bold"}, input_html: {class: "border border-2 border-gray-300 rounded-sm" } %>
    
    <div class="mt-2">
		<% if @lesson.lesson_video.attached? %>
			<div style="width: 400px; height: 200px">
				<%= video_tag(url_for(@lesson.lesson_video), style: "width: 100%; height: auto;") %>
			</div>
		<% end %>
         <p class="font-bold text-lg mb-2"> Lesson video :  </p>
    	<div class =" border border-2 border-gray-200 px-1 py-1"> <%= f.file_field :lesson_video , label_html: {class: " font-bold"}, input_html: {class: "border border-2 border-gray-300 rounded-sm" }  %> </div>
     </div>
<br >
	<div class="">
		<%= f.rich_text_area :lesson_notes , label_html: {class: " font-bold" }, input_html: {class: "border border-2 border-gray-300 rounded-sm w-full" , rows: 6} %>
	</div>

     <div class="mt-2">
     <p class="font-bold text-lg mb-2"> Lesson pictures :  </p>
     <div class =" border border-2 border-gray-200 px-1 py-1"><%= f.file_field :lesson_pictures, multiple: true , label_html: {class: " font-bold"}, input_html: {class: "border border-2 border-gray-300 rounded-sm" }  , hint: "Select many" %> </div>
     </div>
    
	<%= f.association :subject, label_method: :name, value_method: :id, priority: [@sub_name.to_s],include_blank: false, input_html: { class: "border border-2 border-gray-300 rounded-sm w-full bg-white px-4 py-2"} , label_html: {class: "font-bold"}%>	 
 </div>

  <div class="form-actions">
    <%= f.submit t('lesson.new.submit') ,class: "py-1 px-4 rounded-md bg-blue-400 text-white font-semibold text-md "%>
  </div>

   

<% end %>
