<p id="notice" class="block w-full  font-bold text-lg py-2 text-center "><%= notice %></p>
<section class="">
	<div class="flex">
		<div class="rounded-1/2 h-8 w-7 bg-gray-900 text-white px-1 "> <%= link_to '<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>'.html_safe, static_welcome_path, style: "color: #fff;" %> </div>
		<h1 class="text-center text-xl font bold border-2 border-gray-300 w-4/5 "> <%= t('lesson.index.all_lessons') %></h1>
	</div>
	<div class=" block  mt-4 mx-10">
<!-- loop through all the subjects and display them -->
		<% if @lessons.empty? %>
			<p> No lessons created for this subject yet </p>
		<% else %>
    	<% @lessons.each do |lesson| %>
				<div class=" w-4/5 ">
    			<div class=" w-full  my-2 grid grid-cols-1 md:grid-cols-2 ">
		  			<div class="font-semibold mb-1 "> <%= lesson.name %> </div>
		    		<div class=" grid grid-cols-3 ">
							<%= link_to lesson_status(lesson.id) == "started" ? t('lesson.show.continue'): t('lesson.index.start') , lesson_path(id: lesson.id, less_id: lesson.id ) , class: " text-blue-400 block px-4 text-left mx-1 border border-2 border-blue-300  rounded-sm hover:bg-blue-100 ", style: "color: rgb(96, 165, 250);" %>
							<% if current_user && current_user.admin %>
		      			<%= link_to t('general_buttons.edit'), edit_lesson_path(lesson.id) , class: " text-green-400 border border-2 border-green-400 text-center block mx-1 hover:bg-green-100 hover:text-green-600" %>
								<%= link_to t('lesson.index.delete_lesson') , lesson_path(lesson.id)  ,method: :delete ,  class: " border border-4 border-red-400 border-red-400 block text-right  mx-1 px-4 hover:bg-red-200 ", style: "color: rgb(248, 113, 113);" %>
							<% end %>
						</div>
					</div>
					<div class=""> status: <span class="font-semibold text-blue-400 "><%= lesson_status(lesson.id) %></span> </div>
				<div class="flex">
					<div class="h-1 relative max-w-xl rounded-full w-full  overflow-hidden">
              <div class="w-full h-full bg-gray-200  absolute"></div>
              <div id="bar" class="h-full bg-<%= lesson_status_colour(lesson.id)%> relative text-gray-900" style="width: <%= lesson_completion_percent(lesson.id)%>%"> </div>
          </div>
					<div class="pl-4"> <%=lesson_completion_percent(lesson.id) %>% </div>
				</div>
				</div>
			<% end %>
		<% end %>
<br>
<% if current_user && current_user.admin %>
<%= link_to t('lesson.index.new_lesson') , new_lesson_path , class: "bg-green-600 text-white  font-semibold px-8 py-1 border border-1 border-green-600" , style: "color: #fff ;"%>
<% end %>
 </section>

