<p id="notice" class="block w-full  font-bold text-lg py-2 text-center "><%= notice %></p>
<section class="">
<h1 class="text-center text-xl font bold w-full "> Lessons</h1>

	        <div class=" block  mt-4 mx-10">
                <!-- loop through all the subjects and display them -->
		<% if @lessons == nil %>
		<p> No lessons created for this subject yet </p>
		<% else %>
                <% @lessons.each do |lesson| %>
		<div class="">
                        <div class="my-2 flex justify-between ">
                        <div class="font-semibold mb-1"> <%= lesson.name %> </div>
                        <div class="">
				<%= link_to "Start", lesson_path(lesson.id) , class: " text-blue-400" %>
			<% if current_user && current_user.admin %>
                        <%= link_to "Edit", edit_lesson_path(lesson.id) , class: " text-green-300" %>
			<%= link_to "Delete", lesson_path(lesson.id)  ,method: :delete ,  class: " text-red-300" %>
			<% end %>
			</div>
			<hr>
		</div>
		<% end %>
		<% end %>
<br>
<% if current_user && current_user.admin %>
<%= link_to 'New Lesson', new_lesson_path , class: "bg-blue-400 text-white font-semibold px-4 py-2 border border-1 border-blue-600" %>
<% end %>
 </section>

