<p id="notice" class="block w-full  font-bold text-lg py-2 text-center "><%= notice %></p>
<section class="">
<h1 class="text-center text-xl font bold w-full "> Lessons</h1>

	        <div class=" block  mt-4 mx-10">
                <!-- loop through all the subjects and display them -->
		<% if @lessons.empty? %>
		<p> No lessons created for this subject yet </p>
		<% else %>
                <% @lessons.each do |lesson| %>
		<div class=" w-full ">
                        <div class=" w-full  my-2 flex justify-between ">
		                <div class="font-semibold mb-1 "> <%= lesson.name %> </div>
		                <div class=" flex ">
					<%= link_to "Start", lesson_path(id: lesson.id, less_id: lesson.id ) , class: " text-blue-400 rounded-md block mx-1 border border-2 border-blue-300 px-8 rounded-sm hover:bg-blue-100 ", style: "color: rgb(96, 165, 250);" %>
						<% if current_user && current_user.admin %>
		                		<%= link_to "Edit", edit_lesson_path(lesson.id) , class: " text-green-300 block mx-1 " %>
						<%= link_to "Delete", lesson_path(lesson.id)  ,method: :delete ,  class: " text-red-300 block mx-1 ", style: "color: rgb(248, 113, 113);" %>
						<% end %>
				</div>
			</div>
			<hr>
		</div>
		<% end %>
		<% end %>
<br>
<% if current_user && current_user.admin %>
<%= link_to 'New Lesson', new_lesson_path , class: "bg-green-600 text-white rounded-md font-semibold px-8 py-1 border border-1 border-green-600" , style: "color: #fff ;"%>
<% end %>
 </section>

