<div class=" flex flex-row md:grid md:grid-cols-1 bg-gray-800 text-white  rounded w-full text-center py-2 px-2">
	<% if current_user.is? :admin %>
		<a href=" <%= dash_path %>" title="Statistics"> <p class="my-4 text-gray-50 mx-4 md:mx-0"> <i class="fa fa-chart-bar fa-2x" aria-hidden ="true"></i></p> </a>
		<a href=" <%= new_subject_path %>" title="New subject"> <p class="my-4 text-gray-50 mx-4 md:mx-0"> <i class="fa fa-book fa-2x" aria-hidden="true"></i></p> </a>

	<% end %>
	<a href=" <%= home_path %>" title="Home"> <p class="my-4 text-gray-50 mx-4 md:mx-0"> <i class="fa fa-home fa-2x" aria-hidden="true"></i></p> </a>
	<a href=" <%= chat_path %>" title="Chat"> <p class="my-4 text-gray-50 mx-4 md:mx-0"> <i class="fa fa-comments fa-2x" aria-hidden="true" ></i> </p> </a>
	<a href=" <%= achievements_path %>" title="Achievements"> <p class="my-4 text-gray-50 mx-4 md:mx-0"> <i class="fa fa-trophy fa-2x" aria-hidden="true" ></i> </p> </a>
	<a href=" <%= about_path %>" title="About"> <p class="my-4 text-gray-50 mx-4 md:mx-0"> <i class="fa fa-question fa-2x" aria-hidden="true" ></i> </p> </a>
	<a href=" <%= chat_path %>" title="Social"> <p class="my-4 text-gray-50 mx-4 md:mx-0"> <i class="fa fa-hashtag fa-2x" aria-hidden="true" ></i> </p> </a>
</div>
