<section class = " flex flex-col min-h-screen">
	<div>
		<div class = " flex pt-5">
	<% if current_user %>
		<a href="<%= root_path(locale: current_user.locale) %>" class="block w-10 h-10 md:w-20 md:h-20 rounded-full  bg-blue-400" style="">
			<div class="font-semibold text-4xl md:text-6xl text-white "> <%= current_user.user_initial %> </div>
		</a>
		<div class = " items-center pl-4 pt-2 ">
			<p class="font-semibold text-md"> <%= current_user.full_name %> </p>
			<p class="text-sm font-hairline"> <%= current_user.email %></p>
		</div>
	
	</div>
	<div class="mt-5">

		<% end %>
			<% if current_user.is? :admin %>
			<%= link_to t('leftpane.statistics') , dash_path, class: "border border-2 border-gray-800 px-8 py-2 block mx-2 mb-2  text-center uppercase bg-gray-800", style: "color: #ccc;" %>
		<% end %>
		<% if current_user && current_user.admin %> 
		<a href="<%= new_subject_path %>" ><div class="text-center hover:text-blue-400 text-sm border mx-2 border-2 font-semibold px-4 py-2 rounded-md text-blue-300 "> <%= t('leftpane.new_subject') %> </div></a>		<% end %>
	</div>
<div class="w-full text-md flex-grow items-center lg:w-auto  lg:block mt-2 lg:mt-0 z-20" >
		<% if current_user %>
				<ul class="flex flex-col  px-4 md:px-4">
					<li class="mr-6 my-2 md:my-0">
                        <a href="/home" id="home" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-green-300  border-0 hover:border-b-2  hover:border-blue-400">
                            <i class="fas fa-home fa-fw mr-3 text-blue-400"></i><span class="pb-1 md:pb-0 "><%= t('leftpane.home') %></span>
                        </a>
                    </li>
					 <li class="mr-6 my-2 md:my-0">
                        <a href="/achievements" class="block py-1 md:py-3 pl-1 align-middle  no-underline hover:text-green-300   hover:border-pink-400">
                            <i class="fas fa-tasks fa-fw mr-3"></i><span class="pb-1 md:pb-0 "> <%= t('leftpane.achievements') %></span>
                        </a>
                    </li> 
                    <li class="mr-6 my-2 md:my-0">
                        <a href="/chat" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-green-300 hover:border-purple-400">
                            <i class="fa fa-envelope fa-fw mr-3"></i><span class="pb-1 md:pb-0 "> <%= t('leftpane.chat') %>
                            </span>
                        </a>
                    </li>
                    <li class="mr-6 my-2 md:my-0">
                        <a href="/about" class="block py-1 md:py-3 pl-1 align-middle  no-underline hover:text-green-300   hover:border-red-400">
                            <i class="fa fa-question-circle fa-fw mr-3"></i><span class="pb-1 md:pb-0 "> <%= t('leftpane.about') %></span>
                        </a>
                    </li>
				</ul>
				
			<% end %>
				
			</div>
	</div>
	<div class="flex-grow"></div>
  
	<%= render "layouts/footer" %>		

</section>


