<!DOCTYPE html>
<html>
  <head>
    <title>StudentApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> <!--Replace with your tailwind.css once created-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
	<%= render 'layouts/navbar' %>
	<div class= " grid grid-cols-1 md:grid-cols-5">
		<div class=" hidden md:block border border-1 border-gray-100"><%= render 'layouts/leftpane' %></div>
		<div class=" flex md:hidden">		
			<div class=" md:hidden ">
      			<a href="#" id="my-menu" class="block hover:bg-green-300  py-1 px-1 align-middle text-green-500 no-underline   border-blue-400 hover:border-green-400">
      				<svg viewBox="0 0 100 80" width="30" height="30">
        				<rect y="20" width="100" height="10"></rect>
        				<rect y="40" width="100" height="10"></rect>
        				<rect y="60" width="100" height="10"></rect>
        				<rect y="80" width="100" height="10"></rect>
      				</svg> </a>
      			</div>
		</div>		
		<div class=" col-span-3 border border-1 border-gray-100"><%= yield %></div>
    		<div class="border border-1 border-gray-100"><%= render 'layouts/rightpane' %></div>
    	</div>
	
  </body>
  

</html>

